OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=
OKX_REST_BASE_URL=https://www.okx.com
OKX_DEMO_TRADING=true

PG_HOST=db
PG_PORT=5432
PG_USER=vntdr
PG_PASSWORD=changeme
PG_DB_NAME=vntdr

REDIS_HOST=cache
REDIS_PORT=6379
REDIS_DB=0
REDIS_APPENDONLY=yes
REDIS_SAVE=60 1000
REDIS_MAXMEMORY_POLICY=allkeys-lru

TG_BOT_TOKEN=
TG_CHAT_ID=
